@import '../../common/styles/reset.less';
.preview {
  background: #e7e7e7;
  .toolbar {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 1;
    .toolbar-group {
      max-width: 960px;
      margin: 0 auto;
    }
  }
  .error {
    margin-top: 121px;
  }
  .card {
    max-width: 960px;
    margin: auto;
  }
}
