@import '../../common/styles/reset.less';
@import '../../common/styles/styles.less';

.preview {
  background: #e7e7e7;
  .toolbar {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 1;
    padding: 10px 24px !important; 
    > div {
      .maxwidth;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .colorpicker {
      margin-top: 0 !important;
      margin-right: 12px;
    }
  }
  .error {
    margin-top: 120px;
    color: #ff4081;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .card {
    width: 100%;
    overflow: auto;
    margin: 24px auto;
    .cardtext {
      padding: 0 !important;
      width: 768px;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    }
  }
  div[class^='Design'] {
    zoom: 1;
  }
}
