@import '../../common/styles/reset.less';
.preview {
  background: #e7e7e7;
  .toolbar {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 1;
    padding: 10px 24px !important; 
  }
  .error {
    margin-top: 120px;
  }
  .card {
    width: 100%;
    overflow: auto;
    margin: 24px auto;
  }
  div[class^='Design'] {
    zoom: 1;  
  }
}
