<ul class="modules">
  <li ng-repeat="module in modules" class="inline_block" ng-click="setActive(module)" ng-class="module.active?'active' : ''">{{module.name}}</li>
</ul>
<section ng-repeat="module in modules" ng-show="module.active" ng-class="module.class" class="form_fields">
  <ul>
    <li ng-repeat="subModules in module.subModules track by $index" ng-class="subModules.class">
      <div ng-if="subModules.name"><span>{{subModules.name}}</span><hr/></div>
      <ul>
        <li ng-repeat="field in subModules.fields" ng-class="field.class">
          <span ng-if="field.fieldtype == 'file'" class="profileimg">
            <img ng-src="{{field.value}}" src="img/profile.png"/>
            <span>Click to change</span>
            <input app-filereader type="file" accept="image/*" ng-model="field.value" required="{{field.required}}"/>
          </span>
          <span ng-if="presentIn(field.fieldtype,['text','email','number','date'])">
            <input type="{{field.fieldtype}}" ng-model="field.value" pattern="{{field.pattern}}" placeholder="{{field.name}}" maxlength="{{field.maxLength}}" required="{{field.required}}"/>
          </span>
          <span ng-if="field.fieldtype == 'textarea'">
            <label>{{field.name}}</label>
            <textarea cl-editor></textarea>
          </span>
        </li>
      </ul>
    </div>
  </li>
</ul>
</section>