<div loader></div>
<div class="modal errorPage" ng-show="errorView">
	<span>{{errorMsg}}</span>
</div>
<div class="subHeader maxwidth">
	<i class="fa fa-pencil" ng-click="navigate('resume')" title="Back to Editor"></i>
	<i class="fa fa-cogs" ng-click="selectDesign()" title="Change design"></i>
	<i class="fa fa-cloud-download" ng-click="download()" title="Download"></i>
</div>
<div ui-view class="mainView"></div>
<iframe src="" id="downloadFrame"></iframe>
<script type="text/ng-template" id="toggleSwitch.html">
	<div class="toggle-bg {{switch}}">
		<label class="{{switch}}">{{label[switch]}}</label>
		<input type="radio" name="toggle" value="false" ng-model="switch">
		<input type="radio" name="toggle" value="true" ng-model="switch">
		<span class="switch {{switch}}"></span>
	</div>
</script>
<script type="text/ng-template" id="personalPopup.html">
	<div class="modal-header">
		<h3 class="modal-title">Personal Details</h3>
	</div>
	<form name="" no-validate>
		<div class="modal-body cvpage">
			<div personal ng-model="module" class="moduleWrapper personal"></div>
		</div>
		<div class="modal-footer">
			<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary" ng-click="ok();">Save</button>
		</div>
	</form>
</script>
<script type="text/ng-template" id="skillPopup.html">
	<div class="modal-header">
		<h3 class="modal-title">Skills</h3>
	</div>
	<form name="" no-validate>
		<div class="modal-body cvpage">
			<section>
				<div skill ng-model="module" class="moduleWrapper skill"></div>
			</section>
		</div>
		<div class="modal-footer">
			<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary" ng-click="ok();">Save</button>
		</div>
	</form>
</script>
<script type="text/ng-template" id="summaryPopup.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.title}}</h3>
	</div>
	<form name="summaryform" no-validate class="summaryform">
		<div class="modal-body">
			<div class="header">
				<input type="text" ng-model="field" placeholder="{{data.placeholder1}}" required/>
			</div>
			<div class="details">
				<div ck-editor contenteditable="true" ng-model="value" name="value" id="extra" placeholder="{{data.placeholder2}}" class="default {{submitted && summaryform.value.$error.required?'error':''}}" fix-height="270" required></div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary" ng-click="submitted=true;ok();">{{buttonName}}</button>
		</div>
	</form>
</script>
<script type="text/ng-template" id="workExpPopup.html">
	<div class="modal-header">
		<h3 class="modal-title">Work Experience</h3>
	</div>
	<form name="form.workExpForm" no-validate class="workExpPopup">
		<div class="modal-body">
			<div class="datefields">
				<input type="text" ng-model="obj.fields.Job_Title.value" placeholder="Job Title" required/>
				<input type="text" ng-model="obj.fields.Company_Name.value" placeholder="Company Name"/>
			</div>
			<div class="datefields">				
				<div>
					<input type="text" date-time="" auto-close="true" required="true" view="year" min-view="date" ng-model="obj.fields.Start_Date.value" placeholder="dd/mm/yyyy" format="dd/MM/yyyy" readOnly/>
				</div>
				<div>
					<input type="text" date-time="" auto-close="true" required="true" view="year" min-view="date" ng-model="obj.fields.End_Date.value" placeholder="dd/mm/yyyy" format="dd/MM/yyyy" readOnly/>
				</div>
			</div>
			<div class="details">
				<label>Skills Used</label>
				<ul ng-show="skills.fields.length">
					<li ng-repeat="field in skills.fields" ng-init="checkbox = skillSelected(obj,field)">
						<label>
							<input type="checkbox" ng-change="skillChange(obj,field,checkbox)" ng-model="checkbox"/>
							<i class="fa fa-check" ng-class="checkbox? 'checked':'unchecked'"></i>
							<span>{{field.name}}</span>
						</label>
					</li>
				</ul>
				<span ng-show="!skills.fields.length">
					Please enter some skills in skill page to add here
				</span>
				<label>Role and Responsibilities</label>
				<div ck-editor contenteditable="true" ng-model="obj.fields.Role_and_Responsibilities.value" id="rolesedit" class="default {{submitted && form.workExpForm.$error.required?'error':''}}" fix-height="350" required></div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary" ng-click="submitted=true;ok();">{{buttonName}}</button>
		</div>
	</form>
</script>
<script type="text/ng-template" id="educationPopup.html">
	<div class="modal-header">
		<h3 class="modal-title">Education</h3>
	</div>
	<form name="form.educationForm" no-validate class="educationPopup">
		<div class="modal-body">
			<div class="details">
				<div>
					<span>Degree Obtained</span>
					<input type="text" ng-model="obj.fields.Degree_Obtained.value" required/>
				</div>
				<div class="datefields">
				<input type="text" date-time="" auto-close="true" required="true" view="year" min-view="month" ng-model="obj.fields.From_Date.value" placeholder="mm/yyyy" format="MM/yyyy" readOnly/>
				<span>From</span>
				</div>
				<div class="datefields">
				<input type="text" date-time="" auto-close="true" required="true" view="year" min-view="month" ng-model="obj.fields.To_Date.value" placeholder="mm/yyyy" format="MM/yyyy" readOnly/>
				<span>To</span>
				</div>
				<div>
				<span>Marks Scored</span>
				<input type="text" ng-model="obj.fields.Marks_Scored.value" required/>
				</div>
				<div>
				<span>School Name</span>
				<input type="text" ng-model="obj.fields.School_Name.value" required/>
				</div>
				<div>
				<span>University/Board</span>
				<input type="text" ng-model="obj.fields.University.value" required/>
				</div>
				<div>
				<span>City</span>
				<input type="text" ng-model="obj.fields.City.value" required/>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary" ng-click="ok();">{{buttonName}}</button>
		</div>
	</form>
</script>
<script type="text/ng-template" id="imageChooserPopup.html">
  <div class="modal-header">
    <h3 class="modal-title">Image</h3>
  </div>
  <div class="modal-body cvpage">
    <div image-chooser="size" ng-model="model"></div>
  </div>
  <div class="modal-footer">
    <button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="ok();">Save</button>
  </div>
</script>
<script type="text/ng-template" id="loginPopup.html">
	<div login-box class="loginWrapper loginPopup" model="obj"></div>
	<div class="modal-footer">
		<button type="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>