.logo {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: 22px;
  font-weight: 100;
  line-height: 50px;
  > span {
    display: inline-block;
    vertical-align: text-bottom;
    background: url('/images/logo.png') no-repeat left top;
    width: 25px;
    height: 30px;
    background-position: -23px 0;
    background-size: cover;
    overflow: hidden;
  }
  a {
    display: inline-block;
    span {
      color: #fff;
      &.small {
        font-size: 0.8em;
        font-weight: 100;
      }
      &.color {
        font-weight: 500;
      }
    }
  }
}
