{
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true, }],
  ],
  "presets": [
    ["env", {
      "modules": false,
      "loose": true
    }],
    "react",
    ["latest", { "modules": false }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  } 
}
