# Logs
logs
*.log

npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

*.pdf
public/*

# generated thru webpack for bundle identification accross relases and caching in CDN
build-manifest.json

#marko compiled templates
*.marko.js

.vscode
profile.json

# monodb database
data/*
assets/site-images/*

#yarn files
*yarn*

#config file with data
tools/config.sh

.sonar
package-lock.json


