#cv{
    color: #777;
}

#header > .row,
#content {
    padding: 0 30px;
    font-size: 14px;
}

.cv-section {
    border-bottom: 1px solid #dadada;
    padding: 10px 0 5px 0;
}

#header .cv-section:first-child {
    border-bottom: 10px solid #fdb020;
}

.cv-section-title {
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: middle;
    text-align: left;
}


/* CV Section Title */

#header{
    text-align: center;
}

#header #headshot {
    display: inline-block;
    height: 200px;
    vertical-align: middle;
    padding: 10px;
}

#header #headshot img {
    height: 100%;
}

#cv .last{
    line-height: 24px;
}

.cv-section-title h1 {
    font-size: 20px;
    margin: 0;
}

.cv-section-title h1 small {
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
}

.cv-section-title h2 {
    margin-bottom: 0;
    color: #777;
    font-size: 20px;
}


/* CV Item */

.cv-item {
    line-height: 30px;
    border-bottom: 1px solid #dadada;
    /* text-align: left; */
}

.cv-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.cv-item h3 {
    font-size: 16px;
    line-height: 30px;
}

.period {
    float: right;
    color: #888 !important;
    text-transform: uppercase;
}

.workInfo ul li {
    display: inline;
}

.skillInfo span{
    display: inline-block;
    width: calc(100% - 310px);
}

.skillInfo .rating{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
