#cv {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	line-height: rgba(188, 188, 188, 1);
	border-left: 4px solid #40A7BA;
	font-size: 14px;
}

section.header{
  position: relative;
  padding: 10px;
}

.imageInfo, .personalInfo, .contactInfo{
  display: inline-block;
  vertical-align: bottom;
}

.personalInfo{
  width: 450px;
  text-align: center;
}

.imageInfo img{
  max-height: 150px;
}

.personalInfo div:first-child{
  font-size: 40px;
  font-weight: 100;
}
.personalInfo div:last-child{
  font-size: 22px;
  font-weight: bold;
}

.contactInfo{
    font-size: 12px;
    line-height: 2em;
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-weight: 500;
}

.contactInfo i{
  font-size: 14px;
  padding: 0 5px;
  vertical-align: baseline;
}

label{
  display: inline-block;
  font-size: 18px;
  background-color: #40A7BA;
  padding: 0 0 0 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 100;
  position: relative;
  margin: 5px 0;
}

label:after{
  content:'';
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: #40A7BA;
  position: absolute;
  right: -25px;
  border-right: 10px solid #fff;
}

.details{
  padding: 5px 10px;
}

.subHeading{
  font-size: 20px;
  font-weight: 100;
}

div.header{
  font-size:20px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 1.5em;
}

.skillInfo li > span{
  padding: 10px;
  font-weight: bold;
}

.skillInfo div[bar-rating]{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.datefields{
  float: right;
  text-transform: capitalize;
  font-weight: bolder;
  padding: 0 20px;
}

.skillList{
  line-height: 2em;
}

