<div>
	<form name="skillForm" novalidate>
		<input ng-hide="true" type="number" name="skillLength" ng-model="length" min="1"/>
		
		<div class="topHeader">
			<div droppable class="deletebox" ng-model="model.fields">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
		<div class="topHeader"  ng-class="showDelete?'hide':''">
			<input type="text" ng-model="newSkill" ng-keyup="addSkill($event)" placeholder="Click enter to add"/>
		</div>
		<div class="topRight">
			<div>Rate Me</div><div toggle-switch ng-model="model.rateMe"></div>
		</div>

		<div class="emptyMsg" ng-hide="model.fields.length">
			<span>You can add here your <span class="bold">Skills.</span><br/>Also you have an option to rate yourself </span>
		</div>
		<article>
			<ul ui-sortable="sortableOptions" ng-model="model.fields" class="notesList">
				<li ng-repeat="field in model.fields" data-index="{{$index}}">
					<span>{{field.name}}</span>
					<div ng-show="model.rateMe == 'true'" bar-rating ng-model='field.level'></div>
				</li>
			</ul>
			
		</article>
	</form>
</div>