@import '../../common/styles/reset.less';
@import '../../common/styles/styles.less';
.cv-form {
  .toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 24px;
    z-index: 2;
    > div {
      .maxwidth;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .form-section {
    max-width: 604px;
    padding: 24px;
    margin: auto;
    padding-bottom: 24px;
  }
}