@import '../../common/styles/colors.less';
@import '../../common/styles/styles.less';

.cv-form {
  .toolbar {
    .fixed;
    top: 64px;
  }
  .form-section {
    width: 90%;
    max-width: 604px;
    padding: 24px;
    margin: auto;
    padding-bottom: 24px;
  }
}
