<div id="cv" min-height="175">
    <section class="header">
      <article class="imageInfo">
          <img ng-src="{{model.personal.fields.Image}}" src="img/profile.png"/>
      </article>
      <article class="personalInfo">
          <div ng-bind="model.personal.fields.Full_Name"></div>
          <div ng-bind="model.personal.fields.Job_Title"></div>
      </article>
      <article class="contactInfo">
          <div><i class="fa fa-envelope"></i><span ng-bind="model.personal.fields.Email_Address"></span></div>
          <div><i class="fa fa-phone"></i><span ng-bind="model.personal.fields.Contact_Number"></span></div>
          <div><i class="fa fa-map-marker"></i><span ng-bind="model.personal.fields.Location"></span></div>
      </article>
    </section>
	<article class="portfolioInfo">
		<ul ng-model="model.portfolio.modules">
			<li ng-repeat="module in model.portfolio.modules track by $index">
				<div class="title">
					<label ng-bind="module.field"></label>
				</div>
				<div class="details">
					<div ng-bind-html="module.value"></div>
				</div>
			</li>
		</ul>
	</article>
	<article class="skillInfo">
	    <label>Skills</label>
		<ul>
			<li ng-repeat="field in model.skill.fields">
				<span ng-bind="field.name"></span>
				<span ng-show="model.skill.rateMe">
					<div bar-rating ng-model='field.level' ng-disabled="true"></div>
				</span>
			</li>
		</ul>
	</article>
	<article class="workInfo">
		<label>Work Experiences</label>
		<ul class="explist">
			<li ng-repeat="module in model.workexp.modules track by $index">
				<div class="header">
					<span ng-bind="module.fields.Job_Title.value"></span> at <span ng-bind="module.fields.Company_Name.value"></span>
				</div>
				<div class="datefields">
					From <span ng-bind="module.fields.Start_Date.value|date"></span>
					To <span ng-bind="module.fields.End_Date.value|date"></span>
				</div>
				<div class="details">
					<span class="subHeading">Skills Used</span>
					<ul class="skillList">
						<li ng-repeat="field in module.fields.Skills_and_Tools_Used">
							<span ng-bind="field.name"></span>
                            <span ng-show="$index < module.fields.Skills_and_Tools_Used.length - 1">, </span>
						</li>
					</ul>
					<span class="subHeading">Role and Responsibilities</span>
					<div ng-bind-html="module.fields.Role_and_Responsibilities.value" class="default"></div>
				</div>
			</li>
		</ul>
	</article>
	<article class="educationInfo">
		<label>Education</label>
		<ul>
			<li ng-repeat="module in model.education.modules track by $index">
				<div class="header">
					<span ng-bind="module.fields.Degree_Obtained.value"></span> from <span ng-bind="module.fields.University.value"></span>
				</div>
				<div class="datefields">
					From <span ng-bind="module.fields.From_Date.value|date"></span>
					To <span ng-bind="module.fields.To_Date.value|date"></span>
				</div>
				<div class="details">
					<div>School: <span ng-bind="module.fields.School_Name.value"></span></div>
					<div>Location: <span ng-bind="module.fields.City.value"></span></div>
					<div>Score: <span ng-bind="module.fields.Marks_Scored.value"></span></div>
				</div>
			</li>
		</ul>
	</article>
	<article class="othersInfo">
		<ul ng-model="model.others.modules">
			<li ng-repeat="module in model.others.modules track by $index">
				<div class="title">
					<label ng-bind="module.field"></label>
				</div>
				<div class="details">
					<div class="default" ng-bind-html="module.value"></div>
				</div>
			</li>
		</ul>
	</article>
</div>