.loginWrapper form{
	max-width: 250px;
	margin: auto;
}

.loginWrapper form p, .loginWrapper form span{
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	display: inline-block;
	vertical-align: bottom;
}

.loginWrapper form input, .loginWrapper form button{
  border: none;
  outline: none;
  display: block;
  vertical-align: middle;
  line-height: 28px;  
}

.loginWrapper form input{
  margin: 5px 0;
  padding:0 10px;
  font-size: 14px;
  width: 100%;
  background: #fff;
}

.loginWrapper form button[type=submit]{
	font-size: 16px;
	font-weight: lighter;
	cursor: pointer;
	padding: 0 15px;
	background-color: #D36D4D;
	color: #fff;
	float: right;
	line-height: 25px;
} 

.loginWrapper .buttonGroup{
    text-align: left;

}

.loginWrapper .buttonGroup button{
	background-color: transparent;
	color: #fff;
	display: inline-block;
	vertical-align: bottom;
	font-size: 13px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 20px;
}

.loginWrapper .buttonGroup button:first-child{
	float: right;
}