.toggle-bg {
  background: white;
  border-radius: 30px;
  display: block;
  height: 25px;
  position: relative;
  width: 60px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #ccc;
}
.toggle-bg:hover {
  border-color: #d9d9d9;
}
.toggle-bg.true {
  background: #D36D4D;
  border-color: #D36D4D;
}
.toggle-bg input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  zoom: 1;
  filter: alpha(opacity=0);
}
.toggle-bg input:checked ~ .switch {
  left: 0;
}
.toggle-bg input ~ :checked ~ .switch {
  left: 34px;
}
.toggle-bg input:checked {
  z-index: 0;
}

.switch {
  background: white;
  border-radius: 30px;
  border: 1px solid #d9d9d9;
  display: block;
  top: 0px;
  height: 23px;
  width: 23px;
  left: 0;
  position: relative;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 1;
}
.switch.true {
  box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.switch.false {
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}

.toggle-bg label{
  position: absolute;
  font-size: 14px;
  line-height: 22px;
}

.toggle-bg label.true {
  left: 7px;
  color: white;
}

.toggle-bg label.false {
  right: 4px;
  color: #aaa;
}

.photoGallery{
  margin:auto;
}

.photoGallery p{
  padding: 5px 20px;
}

.photoGallery .list div.listItem{
  width: 150px;
  height: 200px;
  margin: 10px 20px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  cursor: -webkit-zoom-in;
  position: relative;
  background-color: #eee;
  border: 1px solid #EEE;
  overflow: hidden;
  transition: padding 0.5s linear;
}

.photoGallery .list div.listItem:hover img, body.touch .photoGallery .list div.listItem img{
  -webkit-mask-image: -webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: -webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

body.touch .photoGallery .list div.listItem.selected img{
  -webkit-mask-image: none;
  mask-image: none;
}

.photoGallery .list div.listItem:hover .selectIcon, .photoGallery .list div.listItem.selected .selectIcon, body.touch .photoGallery .list div.listItem .selectIcon{
  display: block;
}

.photoGallery .list div.selectIcon{
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  display: none;
  height: 30%;
  width: 100%;
  z-index: 10;
}

.photoGallery .list div.selectIcon i{
  color: #888;
  font-size: 25px;
  margin: 5px;
}

.photoGallery .list img{
  height: 100%;
  width: 100%;
}

.photoGallery .list .listItem.selected i{
  color: #D36D4D;
}

.photoGallery .list .listItem.selected img{
  padding: 15px;
}

.photoGallery .preview{
  position: fixed;
  top:0;bottom: 0;
  left: 0;right: 0;
  background-color: #40A7BA;
  color: #fff;
  z-index: 100;
  transform: scale(0);
  transition: transform .2s ease-out;
  overflow: hidden;
}

.photoGallery .preview.in{
  transform: scale(1);
}

.photoGallery .preview .header{
  height: 40px;
  padding: 5px;
}

.photoGallery .preview .header div{
  float: right;
}

.photoGallery .preview .header div span{
  cursor: pointer;
}

.photoGallery .preview .header div i{
  color:#fff;
  margin: 0 10px;
  font-size: 20px;
  font-weight:100;
}

.photoGallery .preview figure{
  height: calc(100% - 40px);
  position: relative;
  margin: 0;
  overflow: hidden;
}

.photoGallery .preview figure > div{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #333333;
  transition: left 0.3s linear;
  text-align: center;
}

.photoGallery .preview figure > div > div{
  position: relative;
  width:100%;
  height:100%;
}

.photoGallery .preview img{
  max-height: 100%;
  width: auto;
  transition: transform 0.2s linear;
  position: relative;
}

.photoGallery .preview .nav{
  position: absolute;
  height:100%;
  width: 50px;
  max-width: 50px;
  background-color: rgba(6, 16, 18, 0.5);
  z-index: 120;
  text-align: center;
  cursor: pointer;
}

.photoGallery .preview .nav i{
  color: #fff;
  font-size: 24px;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  margin:auto;
  height: 30px;
  width: 50px;
}

.photoGallery .preview .nav.left{
  left:0;
}

.photoGallery .preview .nav.right{
  right:0;
}

.imagechooser{
  height:400px;
}

.imagechooser .drag{
  width: 90%;
  height: 90%;
  border: 4px dashed #CCC;
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: #888;
  line-height: 250px;
  transition: all 0.3s ease-in-out;
}

.imagechooser .drag.over{
  transform: scale(1.05);
}

.imagechooser .selectFile{
  width: 90%;
  max-width: 300px;
  height: 40px;
  background-color: #DEDEDE;
  color: #888;
  border-radius:4px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
}

.imagechooser input[type=file]{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
}

::-webkit-file-upload-button { cursor:pointer; }

.imagechooser .edit{
  overflow: hidden;
  height:90%;
  width:90%;
  margin:auto;
}

.imagechooser .fillWindow{
  height:100%;
  width:100%;
  position: relative;
  margin: auto;  
}

.imagechooser .edit .imageEdit {
    height: 100%;
    width: calc(100% - 300px);
    display: inline-block;
    position: relative;
}

.imagechooser .edit .imageEdit img{
  max-height:100%;
  max-width:100%;
  display: block;
}

.imagechooser .croppable{
    width: 300px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    z-index: 10;
}

.imagechooser .mask{
  border-color: rgba(0, 0, 0, 0.5);
  border-style:solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imagechooser #nwgrip, .imagechooser #negrip, .imagechooser #swgrip, .imagechooser #segrip {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}
#segrip {
    right: -5px;
    bottom: -5px;
}

.imagechooser .cropWindow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.imagechooser .imagePreview{
  width: 290px;
  height:100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.imagechooser .imagePreview img{
  width: 150px;
  display: block;
  margin:auto;
}

.imagechooser .imagePreview .selectFile{
  position: relative;
  margin-top:30px;
}



