html,body{
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

*{
  font-family: 'Open Sans', sans-serif; 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{text-decoration:none;color:inherit;}

body > header{
	padding: 0 20px;
	background: none;;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	right: 0;
	left: 0;
	top: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo{
	font-family: 'Lato', sans-serif;
	display:inline-block;
	font-size: 22px;
	font-weight: 100;
	line-height: 50px;
}

.logo > span{
	display: inline-block;
	vertical-align: text-bottom;
	background: url('../img/logo.png') no-repeat left top;
	width: 25px;
	height: 30px;
	background-position: 0 0;
	background-size: cover;
	overflow: hidden;
}

.sticky .logo{
	font-size: 24px;
	line-height: 38px;
}

.sticky .logo > span{
	background-position: -22px 0;
}

.logo a{
    display: inline-block;
}

.logo .small{
	font-size: 0.8em;
	font-weight: 100;
}

.color{
	font-weight: 500;
}

nav{
	float: right;
}

nav a{
	padding: 5px 20px;
	line-height: 50px;
	cursor: pointer;
	font-size: 18px;
}

nav a.active, nav a:hover{
	border-radius:5px;
	color: #fff;
}

.sticky .logo span{
	color: #fff;
}

.sticky nav a{
	display: inline-block;
	line-height: 30px;
	border-radius: 0;
	vertical-align: bottom;
	color: #fff;
}

.sticky nav a.active, .sticky nav a:hover{
	background-color: #fff;
	color: rgb(161, 32, 97);
}

body > header.sticky{
	padding: 0px 20px; 
	background-color: rgb(124, 0, 63);
	border-bottom: 1px solid #fff;
}

.sticky .logo img{
	height: 30px;
}

.maxwidth{
	max-width:980px;
	margin:auto;
}

div.bigImage{
	padding: 1%;
	margin-top: 50px;
	position: relative;
}

.bigImage section{
	display: inline-block;
	width: 48%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.bigImage section p{
	margin:25px;
}

.bigImage img{
	max-width: 100%;
	max-height: 300px;
}

.bigImage section header{
	font-size: 28px;
	font-weight: bolder;
	color: #fff;
}

.bigImage section p{
	font-size: 18px;
	color: #fff;
	font-weight: 100;
}

.logo img{
	height: 40px;
	vertical-align: bottom;
}

.home article.highlights{
	background-color:#fff;
	display: table;
}

article.highlights section{
	padding: 20px;
	display: table-cell;
	width: 33%;
}

article.highlights section img{
	display: block;
	width: 50px;
	margin: auto;
}

article.highlights section p{
	line-height: 1.5em;
}

article.highlights section header,article.templates header, article.messageSection header{
	font-size: 24px;
	font-weight: 400;
	padding:10px 0;
	text-align: center;
	background-color: #fff;
	color: rgb(161, 32, 97);
}
article.templates{
    background-color: #F5F5F5;
}

article.templates img{
	height:300px;
	width: 200px;
	margin: 20px;
	box-shadow: 0px 0px 10px 0 rgba(148, 148, 148, 0.68);
}

article.messageSection > p{
	text-align: center;
	padding:15px;
	line-height: 2em;
}

article.messageSection form{
	max-width: 435px;
	margin: auto;
	text-align: right;
	height: 300px;
}

article.messageSection form label{
	display: block;
	margin: 10px 0;
	height: 30px;
	font-size: 16px;
}

article.messageSection form input, article.messageSection form textarea{
    float: right;
    width: 350px;
    line-height: 25px;
    outline: none;
    margin-left: 15px;
    border: 1px solid #ccc;
}

article.messageSection form textarea{
	resize: none;
    height: 150px;
}

article.messageSection form input[type="submit"]{
	margin: 10px auto;
	line-height: 35px;
	border:none;
	outline: none;
	font-size: 18px;
	width: 200px;
}

footer{
	padding: 5px 50px;
	background-color: #888;
}

footer > div{
	display: inline-block;
	width: 170px;
	vertical-align: top;
	line-height: 30px;
	color: #fff;
}

footer div:first-child{
	width: calc(100% - 180px);
	overflow: hidden;
}

.fb_iframe_widget span{
	vertical-align: middle !important;
}

body > header.sticky, footer, .bigImage{
	background-color: #40a7ba;
	color: #fff;
}

body > header, .bigImage p, article.highlights section header,article.templates header, article.messageSection header{
	color: #E47452;
}

nav a.active, nav a:hover, .bigImage a, article.messageSection form input[type="submit"]{
	background-color: #d36d4d;
	color:#fff;
}

.bgloading{
	display: block;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
}

.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #D36D4D;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}