@import '../../common/styles/colors.less';

.loginpage {
  margin-top: 100px;
  .link {
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;
    cursor: pointer;
    padding: 0 15px;
    background-color: @accent1Color;
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
  }
  .login,
  .loggedIn {
    padding-top: 20px;
    span {
      &:first-child {
        font-size: 16px;
      }
      &:last-child {
        font-weight: 400;
      }
    }
    ul.social {
      padding-top: 10px;
      li {
        a {
          display: inline-block;
          color: #fff;
          line-height: 40px;
          border-radius: 5px;
          margin: 5px 0;
          border: 1px solid transparent;
          img {
            height: 40px;
            width: 40px;
            vertical-align: top;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          span {
            display: inline-block;
            padding: 0 10px;
            min-width: 200px;
            line-height: 40px;
            vertical-align: top;
          }
          &.google {
            background: #4285F4;
            border-color: #4285f4;
          }
          &.facebook {
            background: #4267b2;
            border-color: #4267b2;
          }
          &.linkedin {
            background: #007bb5;
            border-color: #007bb5;
          }
          &.disabled {
            background: #888;
            border-color: #888;
          }
        }
      }
    }
  }
}
