<!DOCTYPE HTML>
<html>
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="description" content="make your resume easy with designs and templates, and download it in pdf, absolutely free">
    <meta name="keywords" content="resume maker,free resume maker,free cv maker,cv maker, resume builder, cv builder,free, career">
    <meta name="author" content="Sneha Jain">
    <base href="/" />
    <title>Instant CV Maker</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <link rel="shortcut icon" href='/assets/images/favicon.png' />
    <link rel="stylesheet" type="text/css" href="${data.mainCssBundle}">

    <!-- Google Analytics & Tag Manager -->
    <script>

      window.__REDUX_STATE__ = ${data.__REDUX_STATE__};
      if (window.opener) {
        if(window.opener.loginCallBack) {
          window.opener.loginCallBack(${data.serverVars});
        }

        window.opener.location.reload();
        window.opener.focus();

        window.close();
      }
      
      function loginCallBack(data) {
        window.__REDUX_STATE__ = data;
      }
      var dataLayer = [{
        'page': window.location.pathname,
        'visitorType': window.__REDUX_STATE__.user ? 'LoggedIn' : 'Anonymous'
      }];
    </script>
    <script if(data.env === "production")>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-64292987-1', 'auto');
      ga('send', 'pageview');
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W7XCJTV');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7XCJTV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '150860672153783',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();   
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="app"></div>
    <script src="${data.vendorJsBundle}"></script>
    <script src="${data.mainJsBundle}"></script>
  </body>
</html> 
