<article class="cvpage">
    <ul class="progressbar">
      <li ng-repeat="module in modules" class="inline_block" ng-class="{active:module.active,visited:module.visited}">
        <span title="{{module.name}}">{{module.name}}</span>
      </li>
    </ul>
    <ul class="heading">
        <li ng-repeat="module in modules" ng-show="module.active">
            <div class="head">{{module.name}}</div>
            <div class="navButtons">
                <button class="next" ng-click="prev($index)" ng-disabled="$index == 0">Previous</button>
                <button class="next" ng-click="next($index)" ng-disabled="module.form.$invalid" ng-hide="$index == modules.length - 1">Next</button>
                <button class="next" ng-click="navigate('preview')" ng-show="$index == modules.length - 1">Preview</button>
            </div>
        </li>
    </ul>
    <div class="sectionWrapper">
        <div ng-repeat="module in modules" ng-show="module.active">
            <div dynamic-directive data-index = "$index" class="moduleWrapper"></div>            
        </div>
    </div>
</article>

