<!DOCTYPE HTML>
<html ng-app="cvbuilder">

<head>
    <base href="/test/" />
    <meta charset="utf-8" />
    <meta name="description" content="make your resume easy with designs and templates, and download it in pdf, absolutely free">
    <meta name="keywords" content="resume maker,free resume maker,free cv maker,cv maker, resume builder, cv builder,free, career">
    <meta name="author" content="Sneha Jain">
    <base href="" />
    <title>Instant CV Maker</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1,maximum-scale=1,user-scalable=0" />
    <link rel="shortcut icon" href='img/favicon.png' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="vendor/css/reset.css" />
    <link rel="stylesheet" href="vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="vendor/css/datepicker.css" />
    <link rel="stylesheet" href="vendor/css/angular-tooltips.min.css" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/cvmaker.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/toggleswitch.css"/>
</head>

<body class="{{currentPage}}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header class="sticky">
        <div class="maxwidth">
            <div class="logo">
                <span></span>
                <a href="/">
                    <span>Instant</span>
                    <span class="color">CV</span>
                    <span class="small">Maker</span>
                </a>
            </div>
            <div class="accountInfo">
                <p>Hi, {{email}} </p>
                <a ng-href='' ng-click="logout()" ng-show="loggedInUser">Logout</a>
                <a ng-href='' ng-click="showLogin()" ng-show="!loggedInUser">Login</a>
            </div>
        </div>
    </header>
    <div ui-view></div>
    </div>
    <footer>
        <div class="fb-like" data-href="https://www.facebook.com/instantCvMaker" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
        <div>2015@Jaindevelopers</div>
    </footer>
    
    <script src="config.js"></script>
    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/jquery-ui.min.js"></script>
    <script src="vendor/js/jquery.ui.touch-punch.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/angular-route.min.js"></script>
    <script src="vendor/js/angular-ui-router.min.js"></script>
    <script src="vendor/js/angular-sanitize.min.js"></script>
    <script src="vendor/js/angular-touch.min.js"></script>
    <script src="vendor/js/angular-animate.min.js"></script>
    <script src="vendor/js/ui-sortable.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="vendor/js/datepicker.js"></script>
    <script src="vendor/js/angular-tooltips.min.js"></script>
    <script src="vendor/js/jquery.nicescroll.min.js"></script>
    <script src="vendor/js/FileSaver.min.js"></script>
    <script src="cvbuilder/init.js"></script>
    <script src="cvbuilder/controllers/controller.js"></script>
    <script src="cvbuilder/controllers/previewController.js"></script>
    <script src="cvbuilder/controllers/popupController.js"></script>
    <script src="cvbuilder/factories/factory.js"></script>
    <script src="cvbuilder/directives/directive.js"></script>
    <script src="cvbuilder/directives/section.drctv.js"></script>
    <script src="cvbuilder/directives/loginBox.js"></script>

    <script src="vendor/ckeditor/ckeditor.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</body>

</html>
