<!DOCTYPE HTML>
<html ng-app="cvbuilder">
  <head>
    <base href="/test/" />
    <meta charset="utf-8" />
    <meta name="description" content="make your resume easy with designs and templates, and download it in pdf, absolutely free">
    <meta name="keywords" content="resume maker,free resume maker,free cv maker,cv maker, resume builder, cv builder,free, career">
    <meta name="author" content="Sneha Jain">
    <base href="" />
    <title>Instant CV Maker</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1,maximum-scale=1,user-scalable=0" />
    <link rel="shortcut icon" href='img/favicon.png' />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="vendor/css/reset.css" />
    <link rel="stylesheet" href="vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/login.css"/>

    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    
    <script src="js/script.js"></script>
    <script src="cvbuilder/factories/factory.js"></script>
    <script src="cvbuilder/directives/loginBox.js"></script>

  </head>
  <body class="home" ng-controller="homeCtrl">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      <header>
        <div class="maxwidth">
          <div class="logo">
            <span></span>
            <a href="#">
              <span>Instant</span>
              <span class="color">CV</span>
              <span class="small">Maker</span>
            </a>
          </div>
          <nav>
            <a href="#" class="active">Home</a>
            <a href="#designs">Designs</a>
            <a href="#contact">Contact</a>
          </nav>
        </div>
      </header>
      <div class="bigImage">
          <div loader></div>
          <section>
            <p>Which one would you choose?</p>
            <img src="img/background.png"/>
            <p>Then why not take one for you ??</p>
          </section>
          <section>
            <header>Impress with your resume</header>
            <p>Your CV is the first point of contact with the recruiter. Stand out and get a interview call faster</p>
            <div login-box model="obj" class="loginWrapper"></div>
          </section>
      </div>
      <article class="highlights maxwidth">
        <section>
          <img src="img/design.png"/>
          <header>we Have</header>
          <p>Existing professional resume templates to suit any profession. Perfect for entry level, senior, creative, intern and graduate positions.
          </p>
        </section>
        <section>
          <img src="img/choose.png"/>
          <header>we Offer</header>
          <p>
            Proffesional templates, along with on demand resume services. Just drop us a email, through our feedback form.
          </p>
        </section>
        <section>
          <img src="img/edit.png"/>
          <header>we are Different</header>
          <p>
            No signup required. We provide easy forms to prepare your resume. Then it can be easily downloaded as a pdf.
          </p>
        </section>
      </article>
      <article class="templates" id="designs">
        <header>Our templates</header>
        <div class="maxwidth">
          <img src="cvimages/image1.jpg"/>
          <img src="cvimages/image2.jpg"/>
          <img src="cvimages/image3.jpg"/>
          <img src="cvimages/image4.jpg"/>
        </div>
      </article>
      <article class="messageSection" id="contact">
        <header>We would love to hear from you.</header>
        <p>Please contact us for customised designs, help on any area, or just drop a feedback. <br>We will like to serve you better.</p>
        <form ng-submit="submitForm()">
          <label>Name: <input name="username" type="text" ng-model="username" required/></label>
          <label>Email ID: <input name="email" type="email" ng-model="email" required/></label>
          <label>Message: <textarea name="message" ng-model="message"></textarea></label>
          <input type="submit" val="Submit"/>
        </form>
      </article>
      <footer>
        <div class="fb-like" data-href="https://www.facebook.com/instantCvMaker" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
        <div>2015@Jaindevelopers</div>
    </footer>
  </body>
</html> 
